<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=charset" />
    <title></title>
</head>
<body>
<div>
    <audio controls autoplay></audio>
    <input onclick="startRecording()" type="button" value="录音" />
    <input onclick="stopRecording()" type="button" value="停止" />
    <input onclick="playRecording()" type="button" value="播放" />
    <input onclick="uploadAudio()" type="button" value="提交" />

</div>
<div >
    文件地址:<input type="text" value="" id="path" style="width:600px"/>
    <input onclick="pathAudio()" type="button" value="提交" />
</div>
<div >
    <H3>翻译结果</H3>
    <ul id="result"></ul>
</div>
<script type="text/javascript" src="/static/HZRecorder.js"></script>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript">
    function S4() {
        return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
    };
    // Generate a pseudo-GUID by concatenating random hexadecimal.
    function guid() {
        return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
    };
    var socket;
    if (typeof (WebSocket) == "undefined") {
        console.log("遗憾：您的浏览器不支持WebSocket");
    } else {
        console.log("恭喜：您的浏览器支持WebSocket");

        //实现化WebSocket对象
        //指定要连接的服务器地址与端口建立连接
        //注意ws、wss使用不同的端口。我使用自签名的证书测试，
        //无法使用wss，浏览器打开WebSocket时报错
        //ws对应http、wss对应https。
        websocketId=guid();
        socket = new WebSocket("ws://127.0.0.1:40012/ws/webSocket?websocketId="+websocketId);
        //连接打开事件
        socket.onopen = function() {
            console.log("Socket 已打开");
            socket.send("消息发送测试(From Client)");
        };
        //收到消息事件
        socket.onmessage = function(msg) {
            console.log(msg.data) ;
        };
        //连接关闭事件
        socket.onclose = function() {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function() {
            console.log("Socket发生了错误");
        }

        //窗口关闭时，关闭连接
        window.unload=function() {
            socket.close();
        };

    }

</script>
<script>

    var recorder;

    var audio = document.querySelector('audio');

    function startRecording() {
        HZRecorder.get(function (rec) {
            recorder = rec;
            recorder.start();
        });
    }

    function stopRecording() {
        recorder.stop();
    }

    function playRecording() {
        recorder.play(audio);
    }

    function uploadAudio() {
        recorder.upload("/upload", function (state, e) {
            switch (state) {
                case 'uploading':
                    //var percentComplete = Math.round(e.loaded * 100 / e.total) + '%';
                    break;
                case 'ok':
                    console.log(e.target.responseText);
                    var t1 = '<li>'+e.target.responseText+'</li>';
                    $("#result").html($("#result").html() +t1) ;
                    console.log("上传成功");
                    break;
                case 'error':
                    console.log("上传失败");
                    break;
                case 'cancel':
                    console.log("上传被取消");
                    break;
            }
        });
    }


    function pathAudio() {
        var path = $("#path").val();
        $.get("/play",{"path":path},function (data) {
            var t1 = '<li>'+data+'</li>';
            $("#result").html($("#result").html() +t1) ;
            console.log(data);
        })
    }
</script>

</body>
</html>
