<h2 class="c_right_title">发票信息管理</h2>
<div class="p_box">
	<!--<el-button type="primary" @click="userAddBtn">添加订单</el-button>-->
	<el-button type="primary" icon="search" @click="searchForm">查询</el-button>
  	<el-form :model="userManage" :inline="true">
		<el-form-item label="订单编号：" :label-width="formLabelWidth">
	      <el-input   v-model="userManage.orderId"  placeholder="请选择订单编号"></el-input>
	   </el-form-item>
		<el-form-item label="是否开票：" :label-width="formLabelWidth">
	      <el-select v-model="userManage.status" placeholder="请选择">
	      	<el-option v-for="item in statusList" :key="item.key" :label="item.label" :value="item.value"></el-option>
	      </el-select>
	   </el-form-item>
		<el-form-item label="申请开票时间：" :label-width="formLabelWidth">
			<el-date-picker
					v-model="createTimes"
					type="daterange"
					range-separator="至"
					start-placeholder="开始日期"
					end-placeholder="结束日期">
			</el-date-picker>
		</el-form-item>
		<!--<el-form-item label="是否有效：" :label-width="formLabelWidth">-->
			<!--<el-select v-model="userManage.useful" placeholder="请选择">-->
				<!--<el-option v-for="item in usefulOptionsCopy" :key="item.key" :label="item.label" :value="item.value"></el-option>-->
			<!--</el-select>-->
		<!--</el-form-item>-->
    </el-form>

	<el-table ref="multipleTable" :data="userData" border tooltip-effect="dark" align="center">
		<!--<el-table-column align="center" type="selection" width="55">
		</el-table-column>-->
		<el-table-column align="center"  label="序号" type="index" >
		</el-table-column>
		<el-table-column align="center" text-align="left" prop="orderId" width="170"  label="订单号" >
		</el-table-column>
		<el-table-column align="center" text-align="left" prop="createTime" width="170"  label="打印二维码时间" >
		</el-table-column>
		<el-table-column align="center" prop="nsrsbh" label="税号"   width="170"  >
		</el-table-column>
		<el-table-column align="center" prop="name" label="单位名称" >
		</el-table-column>
		<el-table-column align="center" prop="email" width="150"  label="邮箱" >
		</el-table-column>
		<el-table-column align="center" prop="phone" label="手机号码" >
		</el-table-column>

		<el-table-column align="center" prop="taxFreeAmount" label="金额（不含税）"  v-if="userData.use == 0">
		</el-table-column>
		<el-table-column align="center" prop="taxAbleAmount" label="金额（含税）" width="110" >
		</el-table-column>

		<el-table-column align="center" text-align="left" prop="lastTime" width="170"  label="开票时间"  v-if="userData.use == 0">
		</el-table-column>
		<el-table-column align="center" prop="status" label="订单状态" :formatter="keyFormat"  v-if="userData.use == 0">
		</el-table-column>
		<el-table-column align="center" prop="type" label="开票类型" :formatter="keyFormat2"  width="90"  v-if="userData.use == 0">
		</el-table-column>
		<!--<el-table-column align="center" prop="remark" label="备注" >-->
		<!--</el-table-column>-->


		<el-table-column align="center" label="操作"  width="200" v-if="userData.use==1" >
			<template scope="scope">
				<el-button type="text" size="small" v-if="scope.row.status==1 ||scope.row.status==2"
						   @click.native.prevent="startUser(scope.row.id)">发票提取二维码打印</el-button>
				<!--<el-button type="text" size="small" @click.native.prevent="userOne(scope.row)">明细</el-button>-->
			</template>
		</el-table-column>
		<el-table-column align="center" label="操作"  width="200" v-if="userData.use==0" >
			<template scope="scope">
				<el-button type="text" size="small"  v-if="scope.row.status==1 ||scope.row.status==2"
						   @click.native.prevent="startUser(scope.row.id)">发票提取二维码打印</el-button>
				<el-button type="text" size="small" v-if="scope.row.status==2"
						   @click.native.prevent="kjfpUser(scope.row.id)">开具发票</el-button>

				<el-button type="text" size="small" v-if="scope.row.status != 5"
						   type="text" size="small" @click.native.prevent="userEdit(scope.row)">编辑</el-button>
				<el-button type="text" size="small" @click.native.prevent="userOne(scope.row)">明细</el-button>
				<el-button  type="text" size="small" v-if="scope.row.status != 5"
							class="redfont" type="text" size="small" @click.native.prevent="deleteRow(scope.row.id)">删除</el-button>
			</template>
		</el-table-column>
		<el-table-column align="center" prop="lastUser" label="提交用户" v-if="userData.use == 0">
		</el-table-column>
	</el-table>
	<div class="paginationTool">
		<el-pagination
	      @size-change="handleSizeChange"
	      @current-change="handleCurrentChange"
	      :current-page="currentPage"
	      :page-sizes="[10, 20, 30, 40]"
		  :page-size="userManage.pageSize"
	      layout="total, sizes, prev, pager, next, jumper"
	      :total="totalNum">
	   </el-pagination>
	</div>

	<el-dialog title="添加订单" :visible.sync="userAdd" :before-close="resetForm">
	  <el-form :model="userAddFrom" :rules="rules" ref="userAddFrom">
	  	<el-row>
	  		<el-col :span="16" :offset="4">
	  			<el-form-item label="订单号：" :label-width="formLabelWidth" prop="userName">
			      <el-input v-model="userAddFrom.orderId" auto-complete="off"></el-input>
			    </el-form-item>
	  		</el-col>
	  		<el-col :span="16" :offset="4">
	  			<el-form-item label="未含税金额：" :label-width="formLabelWidth" prop="accountName">
			      <el-input v-model="userAddFrom.taxFreeAmount" auto-complete="off"></el-input>
			    </el-form-item>
	  		</el-col>
			<el-col :span="16" :offset="4">
				<el-form-item label="含税金额：" :label-width="formLabelWidth" prop="passWord">
					<el-input v-model="userAddFrom.taxAbleAmount"  auto-complete="off"></el-input>
				</el-form-item>
			</el-col>
	  		<!--<el-col :span="16" :offset="4">-->
	  			<!--<el-form-item label="性别：" :label-width="formLabelWidth" prop="sex">-->
			      <!--<el-select style="width: 100%;" v-model="userAddFrom.sex" placeholder="请选择性别" >-->
			        <!--<el-option v-for="item in sexOptions" :key="item.key" :label="item.label" :value="item.value"></el-option>-->
			      <!--</el-select>-->
			    <!--</el-form-item>-->
	  		<!--</el-col>-->
	  	</el-row>
	  </el-form>
	  <div slot="footer" class="dialog-footer">
	     <el-button @click="resetForm">取 消</el-button>
	    <el-button type="primary" @click="saveUser('userAddFrom')">确 定</el-button>
	  </div>
    </el-dialog>

    <el-dialog title="编辑订单状态" :visible.sync="userEdit1" >
	  <el-form v-model="userEditForm"  ref="userEditForm">
	  	<el-row>
	  		<el-col :span="16" :offset="4" >
	  			<el-form-item label="订单号：" :label-width="formLabelWidth" prop="orderId">
			      <el-input v-model="userEditForm.orderId" auto-complete="off"></el-input>
			    </el-form-item>
	  		</el-col>
	  		<el-col :span="16" :offset="4">
	  			<el-form-item label="含税金额：" :label-width="formLabelWidth" prop="taxAbleAmount">
			      <el-input v-model="userEditForm.taxAbleAmount"   auto-complete="off"></el-input>
			    </el-form-item>
	  		</el-col>
			<el-col :span="16" :offset="4">
				<el-form-item label="不含税金额：" :label-width="formLabelWidth" prop="taxFreeAmount">
					<el-input v-model="userEditForm.taxFreeAmount"    auto-complete="off"></el-input>
				</el-form-item>
			</el-col>
			<el-col :span="16" :offset="4">
				<el-form-item label="开票时间：" :label-width="formLabelWidth" prop="kpTime">
					<el-input v-model="userEditForm.kpTime"    auto-complete="off"></el-input>
				</el-form-item>
			</el-col>
	  		<el-col :span="16" :offset="4">
	  			<el-form-item label="开票类型：" :label-width="formLabelWidth" prop="type">
			      <el-select style="width: 100%;" v-model="userEditForm.type" placeholder="请选择开票类型">
			        <el-option v-for="item in sexOptions2" :key="item.value" :label="item.label" :value="item.value"></el-option>
			      </el-select>
			    </el-form-item>
	  		</el-col>
			<el-col :span="16" :offset="4">
				<el-form-item label="订单状态：" :label-width="formLabelWidth" prop="status">
					<el-select style="width: 100%;" v-model="userEditForm.status"  placeholder="请选择订单状态">
						<el-option v-for="item in sexOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
					</el-select>
				</el-form-item>
			</el-col>
			<el-col :span="16" :offset="4">
				<el-form-item label="备注：" :label-width="formLabelWidth" prop="remark">
					<el-input v-model="userEditForm.remark"    auto-complete="off"></el-input>
				</el-form-item>
			</el-col>
	  	</el-row>
	  </el-form>
	  <div slot="footer" class="dialog-footer">
	    <el-button @click="userEdit1 = false">取 消</el-button>
	    <el-button type="primary" @click="commitEdit">确 定</el-button>
	  </div>
    </el-dialog>

	<el-dialog title="查看订单详情" :visible.sync="userOne1" >
		<el-form v-model="userEditForm"  ref="userEditForm">
			<el-row>
				<el-col :span="16" :offset="4" >
					<el-form-item label="订单号：" :label-width="formLabelWidth" prop="orderId">
						<el-input v-model="userEditForm.orderId" auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="含税金额：" :label-width="formLabelWidth" prop="taxAbleAmount">
						<el-input v-model="userEditForm.taxAbleAmount"   auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="不含税金额：" :label-width="formLabelWidth" prop="taxFreeAmount">
						<el-input v-model="userEditForm.taxFreeAmount"    auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="开票时间：" :label-width="formLabelWidth" prop="fpTime">
						<el-input v-model="userEditForm.fpTime"    auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="开票类型：" :label-width="formLabelWidth" prop="type">
						<el-select style="width: 100%;" v-model="userEditForm.type" placeholder="请选择开票类型">
							<el-option v-for="item in sexOptions2" :key="item.value" :label="item.label" :value="item.value"></el-option>
						</el-select>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="订单状态：" :label-width="formLabelWidth" prop="status">
						<el-select style="width: 100%;" v-model="userEditForm.status" placeholder="请选择订单状态">
							<el-option v-for="item in sexOptions" :key="item.value" :label="item.label" :value="item.value"></el-option>
						</el-select>
					</el-form-item>
				</el-col>

				<el-col :span="16" :offset="4">
					<el-form-item label="税号：" :label-width="formLabelWidth" prop="nsrsbh">
						<el-input v-model="userEditForm.nsrsbh"    auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="公司地址：" :label-width="formLabelWidth" prop="gsAddress">
						<el-input v-model="userEditForm.gsAddress"    auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="公司电话：" :label-width="formLabelWidth" prop="gsPhone">
						<el-input v-model="userEditForm.gsPhone"    auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="开户银行：" :label-width="formLabelWidth" prop="bankName">
						<el-input v-model="userEditForm.bankName"    auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="银行账号：" :label-width="formLabelWidth" prop="bankAccountName">
						<el-input v-model="userEditForm.taxAbleAmount"    auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="4">
					<el-form-item label="备注：" :label-width="formLabelWidth" prop="remark">
						<el-input v-model="userEditForm.remark"    auto-complete="off"></el-input>
					</el-form-item>
				</el-col>
			</el-row>
		</el-form>
		<div slot="footer" class="dialog-footer">
			<el-button @click="userOne1 = false">取 消</el-button>
			<!--<el-button type="primary" @click="commitEdit">确 定</el-button>-->
		</div>
	</el-dialog>
</div>

<script>

var app = new Vue({
el: '#app',
data : {
	userData: [],
	createTimes:[],
	userManage:{
	  orderId:'',
	  status:'',
	  pageNo:1,
	  pageSize:10
	},
	totalNum:0,
	statusList: [{
		value: '',
		label: '全部'
	},{
		value: '1',
		label: '待填写开票信息'
	}, {
		value: '2',
		label: '待开具电子发票'
	}, {
		value: '3',
		label: '开具成功'
	}, {
		value: '4',
		label: '开具失败'
	}, {
		value: '5',
		label: '失误订单'
	}],
	sexOptions2: [{
		value: '1',
		label: '企业开发'
	}, {
		value: '2',
		label: '个人开票'
	}],
	sexOptions: [{
		value: '1',
		label: '待填写开票信息'
	}, {
		value: '2',
		label: '待开具电子发票'
	}, {
		value: '3',
		label: '开具成功'
	}, {
		value: '4',
		label: '开具失败'
	}, {
		value: '5',
		label: '失误订单'
	}],
	usefulOptionsCopy: [{
		value: '',
		label: '全部'
	},{
		value: '1',
		label: '是'
	}, {
		value: '0',
		label: '否'
	}],
	usefulOptions: [{
		value: '1',
		label: '是'
	}, {
		value: '0',
		label: '否'
	}],
	rules: {
		orderId: [{
			required: true,
			message: '请输入订单号',
			trigger: 'blur'
		}],
		taxFreeAmount: [{
			required: true,
			message: '请输入不含税金额',
			trigger: 'blur'
		}],
		taxAbleAmount: [{
			required: true,
			message: '请输入含税金额',
			trigger: 'blur'
		}]
	},
	formLabelWidth: '110px',
	userAdd:false,
	userEdit1:false,
	userOne1:false,
	userAddFrom:{//添加用户
		orderId:'',
		taxFreeAmount:'0',
		taxAbleAmount:"0"
	},
	userEditForm:{//编辑用户
		id:'',
		userName:'',
		accountName:'',
		passWord:"",
		status:''
	},
	rowDate:null,
	currentPage:1,
    accountName:''
	},
	created:function () {
		this.accountName = sessionStorage.getItem('accountName');
		this.searchForm();
	},
	methods: {
		keyFormat2(row, column){
			var key=row[column.property];
			if (key == undefined) {
				return "";
			}else if(key==1){
				return "企业";
			}else if(key==2){
				return "个人";
			}else {
				return "失误订单";
			}
		},
		keyFormat(row, column){
			var key=row[column.property];
			if (key == undefined) {
				return "";
			}else if(key==1){
				return "待填写开票信息";
			}else if(key==2){
				return "待开具电子发票";
			}else if(key==3){
				return "开具成功";
			}else if(key==4){
				return "开具失败";
			}else if(key==5){
				return "开具失败";
			}else {
				return "失误订单";
			}
		},
		svnTableData(){
			var that = this;
			$.ajax({
				type:"get",
				url:"/rest/user/plist",
				async:true,
				dataType:"json",
				success:function(res){
					console.info(res)
					that.userData = res.data.list;
				}

			});
		},
		//添加用户保存
		saveUser(formName){
            var that = this;
            that.$refs[formName].validate((valid) => {
                if (valid) {
                    console.info(that.userAddFrom)
                    $.ajax({
                        type:"put",
                        url:"/rest/invoice",
                        async:true,
						data: JSON.stringify(that.userAddFrom),
						//  数据类型必须为application/x-www-form-urlencoded之外的类型
						contentType:"application/json;charset=UTF-8",
                        dataType:"json",
                        success:function(res){
                            if(res.success){
                                that.searchForm();
                                that.$message({
                                    type: 'success',
                                    message: '新增成功!'
                                });
                                that.resetForm();
                            }else{
                                that.$message({
                                    type: 'error',
                                    message: res.errorMsg
                                });
                            }
                        }
                    });

                } else {
            		return false;
		        }
		  	});
		},
		userOne(row){
			var that = this;
			var id = row.id;
			$.ajax({
				type:"get",
				url:"/rest/invoice/"+id,
				async:true,
				dataType:"json",
				success:function(res){
					console.info(res)
					that.userEditForm = res.data;
					that.userOne1 = true;
				}
			});
		},
		//行编辑
		userEdit(row){
			var that = this;
			var id = row.id;
			$.ajax({
				type:"get",
				url:"/rest/invoice/"+id,
				async:true,
				dataType:"json",
				success:function(res){
					console.info(res)
					that.userEditForm = res.data;
					that.userEdit1 = true;
				}
			});
		},
		//提交修改
		commitEdit(){
			var that = this;
            that.userEditForm.lastTime = new Date();
			console.log( that.userEditForm)
			$.ajax({
				type: "post",
				url: "/rest/invoice",
				async: true,
				data: JSON.stringify(that.userEditForm),
				//  数据类型必须为application/x-www-form-urlencoded之外的类型
				contentType: "application/json;charset=UTF-8",
				dataType: "json",
				success: function (res) {
					if(res.success){
						that.searchForm();
						that.$message({
							type: 'success',
							message: '修改成功!'
						});
						that.userEdit1 = false;
					}else{
						that.$message({
							type: 'error',
							message: '修改失败!'
						});
					}
				}
			})

		},
		//删除行
		deleteRow(id) {
		    var that = this;
            that.$confirm('是否确定删除该用户?', '提示', {
			  confirmButtonText: '确定',
			  cancelButtonText: '取消',
			  type: 'warning'
			}).then(() => {

				var delDate = {"id":id,"deleted":1,"delete_time":new Date()};
			$.ajax({
				type: "post",
				url: "/rest/invoice",
				async: true,
				data: JSON.stringify(delDate),
				//  数据类型必须为application/x-www-form-urlencoded之外的类型
				contentType: "application/json;charset=UTF-8",
				dataType: "json",
				success: function (res) {
					if (res.success) {
						that.searchForm();
						that.$message({
							type: 'success',
							message: '删除成功!'
						});
						that.userEdit1 = false;
					} else {
						that.$message({
							type: 'error',
							message: '删除失败!'
						});
					}
				}
			});

			}).catch(() => {
			});
	   },
	   //搜索
		searchForm(){
			const that = this;
				that.userManage.deleted=0;
			if(that.createTimes.length>0 && that.createTimes[0] && that.createTimes[1]){
				that.userManage.createTime1=that.createTimes[0].getTime();
				that.userManage.createTime2=that.createTimes[1].getTime();
			}else{
				that.userManage.createTime1="";
				that.userManage.createTime2="";
			}
			console.log(that.userManage)
			$.get("/rest/invoice/plist",that.userManage,function(result){
				if(result.success){
				    console.info(result)
                    that.userData = result.data.list;
					for(var i=0;i<that.userData.length;i++){
						if(that.userData[i].lastTime){
							that.userData[i].lastTime= formatDate(new Date(that.userData[i].lastTime));
						}
						if(that.userData[i].createTime){
							that.userData[i].createTime= formatDate(new Date(that.userData[i].createTime));
						}
						if(that.userData[i].taxAbleAmount){
							that.userData[i].taxAbleAmount= that.userData[i].taxAbleAmount.toFixed(2);
						}
						if(that.userData[i].taxFreeAmount){
							that.userData[i].taxFreeAmount= that.userData[i].taxFreeAmount.toFixed(2);
						}

					}

					that.userData.use= sessionStorage.getItem('accountName')=="admin"?0:1;
					console.log(sessionStorage.getItem('accountName'),that.userData.use)
                    that.totalNum = result.data.total;
				}
			});
		},
        disableUser(id){
            const that = this;
            $.post("/rest/user/disable/"+id,{},function(res){
                if(res.success){
                    that.$message({
                        type: 'success',
                        message: '禁用成功!'
                    });
                    that.searchForm();
                }else{
                    that.$message({
                        type: 'error',
                        message: '禁用失败!'
                    });
                }
            });
        },
		kjfpUser(id){
			const that = this;
			that.$confirm('是否确定已开具发票?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
			$.ajax({
				type: "post",
				url: "/rest/invoice",
				async: true,
				data: JSON.stringify({id:id,status:3}),
				//  数据类型必须为application/x-www-form-urlencoded之外的类型
				contentType: "application/json;charset=UTF-8",
				dataType: "json",
				success: function (res) {
					if (res.success) {
						that.$message({
							type: 'success',
							message: '开票成功!'
						});
					} else {
						that.$message({
							type: 'error',
							message: '开票失败!'
						});
					}
				}
			});

		}).catch(() => {
			});
		},
        startUser(id){
            const that = this;
			window.open("/ewm?orderId="+id)
        },
		//添加用户
		userAddBtn(){
			this.userAdd = true;
		},
		//重置
		resetForm() {
            this.userAddFrom.orderId='';
            this.userAddFrom.taxFreeAmount='0';
            this.userAddFrom.taxAbleAmount='0';
			this.userAdd = false;
		},
		handleSizeChange(val) {
			this.userManage.pageSize = val;
            this.searchForm();
			console.log(`每页 ${val} 条`);
		},
		handleCurrentChange(val) {
			this.userManage.pageNo = val;
            this.searchForm();
			console.log(`当前页: ${val}`);
		}
	},

});
function formatDate(now) {
	var year=now.getFullYear();
	var month=now.getMonth()+1;
	var date=now.getDate();
	var hour=now.getHours();
	var minute=now.getMinutes();
	var second=now.getSeconds();
	(hour+"").length==1?hour="0"+hour:hour;
	(minute+"").length==1?minute="0"+minute:minute;
	(second+"").length==1?second="0"+second:second;
	return year+"年"+month+"月"+date+"日 "+hour+":"+minute+":"+second;
}
</script>