<div class="kjfp" style="

">
    <span class="je">金额</span>
    <input type="text"  class="jes" value="" placeholder="0.00" id="jes"
           onkeyup="jesf(this)"
    onblur="jesf(this)"

           autofocus="autofocus"
    >
    <!--onkeydown="jesf(this,event)" -->
    <button class="jebutton" onclick="kfewm()" >打印开票二维码</button>
</div>
<style>
    div.kjfp{
        width: 300px;
    }
    span.je{
        font-size: 50px;
        display: block;
        width: 200px;
        float:left;
        text-align:right;
    }
    input.jes{
        height: 170px;
        font-size: 75px;
        width: 300px;
        text-align:right;
        margin: 10px 0px 10px 0px;
    }
    button.jebutton{
        width: 300px;
        height: 170px;
        font-size: 61px;
        background: #6FBBF4;
        color: #ffffff;
        border: none;
    }
</style>
<script>

    //value=value.replace(/[^\d]/g,'')
    function jesf(obj,e) {
        //获取键盘输入的keyCode
//        var keycode = (Number)(e.keyCode);
        //得到第一个字符是否为负号
        var t = obj.value.charAt(0);
//先把非数字的都替换掉，除了数字和.
        obj.value = obj.value.replace(/[^\d\.]/g,'');
//必须保证第一个为数字而不是.
        obj.value = obj.value.replace(/^\./g,'');
//保证只有出现一个.而没有多个.
        obj.value = obj.value.replace(/\.{2,}/g,'.');
//保证.只出现一次，而不能出现两次以上
        obj.value = obj.value.replace('.','$#$').replace(/\./g,'').replace('$#$','.');
//只能输入两位小数
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');
//如果第一位是负号，则允许添加
        if(t == '-'){
            return;
        }
    }
    function kfewm() {
        window.open("/ewm?amount="+$("#jes").val())
    }
    $('#jes').focus();
</script>