<h2 class="c_right_title">菜单管理</h2>
<div class="p_box">
	<el-button type="primary" @click="menuAddBtn">添加菜单</el-button>
	<el-button type="primary" icon="search" @click="searchForm">查询</el-button>
  	<el-form :model="menuManage" :inline="true">
		<el-form-item label="条件：" :label-width="formLabelWidth">
	      <el-input   v-model="menuManage.name"  placeholder="请选择菜单名称"></el-input>
	   </el-form-item>
		<el-form-item label="是否有效：" :label-width="formLabelWidth">
			<el-select v-model="menuManage.useful" placeholder="请选择">
				<el-option v-for="item in usefulOptionsCopy" :key="item.key" :label="item.label" :value="item.value"></el-option>
			</el-select>
		</el-form-item>
    </el-form>
	  
	<el-table ref="multipleTable" :data="menuData" border tooltip-effect="dark" align="center">
		<!--<el-table-column align="center" type="selection" width="55">			
		</el-table-column>-->
		<el-table-column align="center" type="index" label="序号" width="80">
		</el-table-column>
		<el-table-column align="center" prop="name" label="菜单名"  >
		</el-table-column>
		<el-table-column align="center" prop="path" label="菜单路径"  >
		</el-table-column>
		<el-table-column align="center" prop="desc" label="菜单描述" >
		</el-table-column>
		<el-table-column align="center" prop="useful" label="是否有效" :formatter="keyFormat">
		</el-table-column>
		<el-table-column align="center" label="操作"  width="200" >
			<template scope="scope">
				<el-button type="text" size="small" v-if="scope.row.useful==1"
						   @click.native.prevent="disablemenu(scope.row.id)">禁用</el-button>
				<el-button type="text" size="small" v-if="scope.row.useful==0"
						   @click.native.prevent="startmenu(scope.row.id)">启用</el-button>
				<el-button type="text" size="small" @click.native.prevent="menuEdit(scope.row)">编辑</el-button>
				<el-button class="redfont" type="text" size="small" @click.native.prevent="deleteRow(scope.row.id)">删除</el-button>
			</template>
		</el-table-column>
	</el-table>
	<div class="paginationTool">
		<el-pagination
	      @size-change="handleSizeChange"
	      @current-change="handleCurrentChange"
	      :current-page="currentPage"
	      :page-sizes="[10, 20, 30, 40]"
		  :page-size="menuManage.pageSize"
	      layout="total, sizes, prev, pager, next, jumper"
	      :total="totalNum">
	   </el-pagination>			
	</div>
		
	<el-dialog title="添加菜单" :visible.sync="menuAdd" :before-close="resetForm">
	  <el-form :model="menuAddFrom" :rules="rules" ref="menuAddFrom">
	  	<el-row>
	  		<el-col :span="16" :offset="4">
	  			<el-form-item label="菜单名称：" :label-width="formLabelWidth" prop="name">
			      <el-input v-model="menuAddFrom.name" auto-complete="off" placeholder="请输入菜单名称.如'用户管理'"></el-input>
			    </el-form-item>
	  		</el-col>
			<el-col :span="16" :offset="4">
				<el-form-item label="菜单路径：" :label-width="formLabelWidth" prop="path">
					<el-input v-model="menuAddFrom.path" auto-complete="off" placeholder="请输入菜单路径.如'./html/userguanli.html'"></el-input>
				</el-form-item>
			</el-col>
	  		<el-col :span="16" :offset="4">
	  			<el-form-item label="菜单描述：" :label-width="formLabelWidth" prop="desc">
			      <el-input v-model="menuAddFrom.desc" auto-complete="off" placeholder="请输入菜单描述.如'用户管理'"></el-input>
			    </el-form-item>
	  		</el-col>
	  	</el-row>
	  </el-form>
	  <div slot="footer" class="dialog-footer">
	     <el-button @click="resetForm">取 消</el-button>
	    <el-button type="primary" @click="savemenu('menuAddFrom')">确 定</el-button>
	  </div>
    </el-dialog>
    
    <el-dialog title="编辑菜单" :visible.sync="menuEdit1" >
	  <el-form v-model="menuEditForm"  ref="menuEditForm">
	  	<el-row>
	  		<el-col :span="16" :offset="4" >
	  			<el-form-item label="菜单名称：" :label-width="formLabelWidth" prop="name">
			      <el-input v-model="menuEditForm.name" auto-complete="off"></el-input>
			    </el-form-item>
	  		</el-col>
			<el-col :span="16" :offset="4">
				<el-form-item label="菜单路径：" :label-width="formLabelWidth" prop="path">
					<el-input v-model="menuEditForm.path"   auto-complete="off"></el-input>
				</el-form-item>
			</el-col>
	  		<el-col :span="16" :offset="4">
	  			<el-form-item label="菜单描述：" :label-width="formLabelWidth" prop="desc">
			      <el-input v-model="menuEditForm.desc"   auto-complete="off"></el-input>
			    </el-form-item>
	  		</el-col>
	  	</el-row>
	  </el-form>
	  <div slot="footer" class="dialog-footer">
	    <el-button @click="menuEdit1 = false">取 消</el-button>
	    <el-button type="primary" @click="commitEdit">确 定</el-button>
	  </div>
    </el-dialog>

</div>

<script>

var app = new Vue({
el: '#app',
data : {
	menuData: [],
	menuManage:{
	  name:'',
	  useful:'',
	  desc:'',
	  path:'',
	  pageNo:1,
	  pageSize:10
	},
	totalNum:0,
	usefulOptionsCopy: [{
		value: '',
		label: '全部'
	},{
		value: '1',
		label: '是'
	}, {
		value: '0',
		label: '否'
	}],
	usefulOptions: [{
		value: '1',
		label: '是'
	}, {
		value: '0',
		label: '否'
	}],
	rules: {
		name: [{
			required: true,
			message: '请输入菜单名字',
			trigger: 'blur'
		}],
		desc: [{
			required: true,
			message: '请输入菜单路径',
			trigger: 'blur'
		}],
		path: [{
			required: true,
			message: '请输入菜单描述',
			trigger: 'blur'
		}]
	},
	formLabelWidth: '90px',
	menuAdd:false,
	menuEdit1:false,
	menuAddFrom:{//添加菜单
		name:'',
		path:'',
		desc:''
	},
	menuEditForm:{//编辑菜单
		id:'',
		name:'',
		path:'',
		desc:''
	},
	rowDate:null,
	currentPage:1
	},
	created:function () {
		this.searchForm();
	},
	methods: {
		keyFormat(row, column){
			var key=row[column.property];
			if (key == undefined) {
				return "";
			}else if(key==0){
				return "无效";
			}else if(key==1){
				return "有效";
			}else {
				return "未知";
			}
		},
		svnTableData(){
			var that = this;
			$.ajax({
				type:"get",
				url:"/menu/plist",
				async:true,
				dataType:"json",
				success:function(res){
					console.info(res)
					that.menuData = res.data.list;
					that.totalNum = res.data.total;
				}

			});
		},
		//添加用户菜单
		savemenu(formName){
            var that = this;
            that.$refs[formName].validate((valid) => {
                if (valid) {
                    console.info(that.menuAddFrom)
                    $.ajax({
                        type:"get",
                        url:"/menu/add",
                        async:true,
						data:that.menuAddFrom,
                        dataType:"json",
                        success:function(res){
                            if(res.success){
                                that.searchForm();
                                that.$message({
                                    type: 'success',
                                    message: '新增成功!'
                                });
                                that.resetForm();
                            }else{
                                that.$message({
                                    type: 'error',
                                    message: res.errorMsg
                                });
                            }
                        }
                    });

                } else {
            		return false;
		        }
		  	});
		},
		menuEdit(row){
			var that = this;
			that.menuEditForm.name=row.name;
			that.menuEditForm.path=row.path;
			that.menuEditForm.desc=row.desc;
			that.menuEdit1 = true;
		},
		//提交修改
		commitEdit(){
			var that = this;
			$.post("/menu/update",that.menuEditForm,function(result){
				if(result.success){
					that.searchForm();
                    that.$message({
						type: 'success',
						message: '修改成功!'
					});
                    that.menuEdit1 = false;
				}else{
                    that.$message({
						type: 'error',
						message: '修改失败!'
					});
				}
			});
		},
		//删除行
		deleteRow(id) {
		    var that = this;
            that.$confirm('是否确定删除该用户?', '提示', {
			  confirmButtonText: '确定',
			  cancelButtonText: '取消',
			  type: 'warning'
			}).then(() => {
                $.ajax({
                type:"delete",
                url:"/menu/delete/"+id,
                async:true,
                dataType:"json",
                success:function(res){
                    if(res.success){
                        that.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        that.searchForm();
					}else{
                        that.$message({
                            type: 'error',
                            message: '删除失败!'
                        });
					}
                }
				});
			}).catch(() => {
			});
	   },
	   //搜索
		searchForm(){
			const that = this;
			$.get("/menu/plist",that.menuManage,function(result){
				if(result.success){
				    console.info(result)
                    that.menuData = result.data.list;
                    that.totalNum = result.data.total;
				}
			});
		},
        disablemenu(id){
            const that = this;
            $.post("/menu/disable/"+id,{},function(res){
                if(res.success){
                    that.$message({
                        type: 'success',
                        message: '禁用成功!'
                    });
                    that.searchForm();
                }else{
                    that.$message({
                        type: 'error',
                        message: '禁用失败!'
                    });
                }
            });
        },
        startmenu(id){
            const that = this;
            $.post("/menu/start/"+id,{},function(res){
                if(res.success){
                    that.$message({
                        type: 'success',
                        message: '启用成功!'
                    });
                    that.searchForm();
                }else{
                    that.$message({
                        type: 'error',
                        message: '启用失败!'
                    });
                }
            });
        },
		//添加菜单
		menuAddBtn(){
			this.menuAdd = true;
		},
		//重置
		resetForm() {
            this.menuAddFrom.name='';
            this.menuAddFrom.desc='';
			this.menuAddFrom.path='';
			this.menuAdd = false;
		},
		handleSizeChange(val) {
			this.menuManage.pageSize = val;
            this.searchForm();
			console.log(`每页 ${val} 条`);
		},
		handleCurrentChange(val) {
			this.menuManage.pageNo = val;
            this.searchForm();
			console.log(`当前页: ${val}`);
		}
	},

});

</script>