<h2 class="c_right_title">系统设置</h2>
<div class="p_box" v-loading="loading_sync">
	<el-button type="primary" @click="syncSVNUser()" style="margin-bottom: 10px;">同步SVN用户</el-button>
	<el-button type="primary" @click="save" :offset="4">保 存</el-button>
	<div>
		<el-div title="系统设置">
		  <el-form :model="setting" :rules="ruleLimit"  ref="setting">
		  	<el-row>
		  		<el-col :span="16" :offset="2">
		  			<el-form-item label="IP：" :label-width="formLabelWidth" prop="ip">
				      <el-input v-model="setting.ip" ></el-input>
				    </el-form-item>
		  		</el-col>
				<el-col :span="16" :offset="2">
					<el-form-item label="PORT：" :label-width="formLabelWidth" prop="port">
						<el-input v-model="setting.port" ></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="2">
					<el-form-item label="账号：" :label-width="formLabelWidth" prop="account">
						<el-input v-model="setting.account" ></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="2">
					<el-form-item label="密码：" :label-width="formLabelWidth" prop="pass">
						<el-input v-model="setting.pass" type="password" ></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="2">
					<el-form-item label="PASSWD文件：" :label-width="formLabelWidth" prop="remotePasswdFile">
						<el-input v-model="setting.remotePasswdFile" ></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="2">
					<el-form-item label="AUTHZ文件：" :label-width="formLabelWidth" prop="remoteAuthzFile">
						<el-input v-model="setting.remoteAuthzFile" ></el-input>
					</el-form-item>
				</el-col>
				<el-col :span="16" :offset="2">
					<el-form-item label="重启SVN脚本：" :label-width="formLabelWidth" prop="restartSVNCMD">
						<el-input v-model="setting.restartSVNCMD" ></el-input>
					</el-form-item>
				</el-col>
		  	</el-row>
		  </el-form>

	    </el-div>
	</div>

</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            loading_sync: false,
            setting:{
            	ip:'',
            	port:'',
            	account:'',
                pass:'',
                remotePasswdFile:'',
                remoteAuthzFile:'',
                restartSVNCMD:''
            },
            ruleLimit:{
                ip: [{
					required: true,
					message: '请输入IP',
					trigger: 'blur'
				}],
                port: [{
					required: true,
					message: '请输入PORT',
					trigger: 'blur'
				}],
                account: [{
					required: false,
					message: '请输入账号',
					trigger: 'blur'
				}],
                pass: [{
                    required: true,
                    message: '请输入密码',
                    trigger: 'blur'
                }],
                remotePasswdFile: [{
                    required: true,
                    message: '请输入SVN PASSWD文件路径',
                    trigger: 'blur'
                }],
                remoteAuthzFile: [{
                    required: true,
                    message: '请输入SVN AUTHZ文件路径',
                    trigger: 'blur'
                }],
                restartSVNCMD: [{
                    required: true,
                    message: '请输入重启SVN脚本路径',
                    trigger: 'blur'
                }]
            },
            formLabelWidth:"100px"
        },

        mounted(){
			this.loadData();
        },
        methods: {
            syncSVNUser(){
                const that=this;
                that.loading_sync = true;
                $.ajax({
                    type:"get",
                    url:"/svn/synchUser",
                    async:true,
                    dataType:"json",
                    success:function(res){
                        if(res.success){
                            that.$message({
                                type: 'success',
                                message: '操作成功!'
                            });
                        }else{
                            that.$message({
                                type: 'error',
                                message: '操作失败!'
                            });
                        }
                        that.loading_sync = false;
                    }

                });
            },
			loadData(){
				const that=this;
				$.ajax({
					type:"get",
					url:"/rest/setting/setting",
					async:true,
					dataType:"json",
					success:function(res){
						window.app.setting = res.data;
					}
				});
			},
			save(){
				const that=this;
                that.$refs['setting'].validate((valid) => {
                    if (valid) {
                        var _form = new Object();
                        _form.ip = this.setting.ip;
                        _form.port = this.setting.port;
                        _form.account = this.setting.account;
                        _form.pass = this.setting.pass;
                        _form.remotePasswdFile = this.setting.remotePasswdFile;
                        _form.remoteAuthzFile = this.setting.remoteAuthzFile;
                        _form.restartSVNCMD = this.setting.restartSVNCMD;
                        $.post("/rest/setting/setting", _form, function (result) {
                            if (result.success) {
                                that.$message({
                                    type: 'success',
                                    message: '操作成功!'
                                });
                                that.loadData();
                                that.editLimit = false;
                            } else {
                                that.$message({
                                    type: 'error',
                                    message: result.errorMsg
                                });
                            }
                        });
                    }
                })
			}
        }

    });

</script>